page-diagnostic-items {
    .diagnostic-items-header {
        margin-top: 16px;
    }
    .label {
        margin: 0 0 0 0;
    }
    .item-item {
        padding-right: 0!important;
        padding-left: 0!important;
    } 
}
