<ion-header no-border>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>Lista {{diagnostic.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="diagnostic-items-header">
    <ion-grid *ngIf="itemsIds.length > 0">
      <ion-row>
        <ion-col col-6>
          <p ion-text text-center>Nome</p>
        </ion-col>
        <ion-col col-6>
          <p ion-text text-center>Valor</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4 text-center *ngIf="itemsIds.length <= 0">Você não possui nenhuma receita ou despesa neste Diagnóstico!</h4>
  </div>
  <div class="diagnostic-items">
    <ion-list no-lines>
      <button ion-item class="item-item" *ngFor="let item of items.reverse(); let i = index" (click)="goToItemProfile(item.id)">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <p ion-text text-center color="primary" *ngIf="item.name.length > 17">{{item.name.substr(0, 16)}}...</p>
              <p ion-text text-center color="primary" *ngIf="item.name.length <= 17">{{item.name}}</p>
            </ion-col>
            <ion-col col-6>
              <p ion-text text-center color="primary" *ngIf="item.value >= 0">R${{item.value.toFixed(2).toString().replace(".",
                ",")}}</p>
              <p ion-text text-center color="primary" *ngIf="item.value < 0" color="danger">-R${{item.value.toFixed(2).toString().replace(".",
                ",").replace("-", "")}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ion-list>
  </div>
</ion-content>