<ion-header no-border>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>Adicionar Histórico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" id="formGroup">
    <h2>Primeiro Passo: Dê um nome para identificar seu Histórico.</h2>
    <p>Exemplos: 'Histórico Anual', 'Histórico Semestral'...</p>
    <ion-item>
      <ion-label floating>Nome do Histórico</ion-label>
      <ion-input type="text" formControlName="name" name="name"></ion-input>
    </ion-item>
  </form>
  <h2>Segundo Passo: Escolha quais diagnósticos formarão seu histórico.</h2>
    <p>Você verá uma linha do tempo com as receitas e despesas desses diagnósticos.
    <br> Você deve ter pelo menos 2 diagnósticos <strong>concluídos</strong> para compor um histórico!</p>
    <p ion-text text-center *ngIf="diagnostics.length == 0">Ops!
        <br> Parece que você ainda não possui um Diagnóstico Concluído.
        <br> Crie um Diagnóstico na página 'Meus Diagnósticos' ou 
        <a ion-text (click)="goToAddDiagnostic()">aqui!</a></p>
    <ion-list no-lines *ngIf="diagnostics.length > 0">
      <ion-item *ngFor="let diagnostic of diagnostics; let i = index">
        <ion-label>{{diagnostic.name}}</ion-label>
        <ion-checkbox [(ngModel)]="selectedDiagnostics[i]" (ionChange)="updateSelected()"></ion-checkbox>
      </ion-item>
    </ion-list>
    <br>
    <button class="btn-add" ion-button block outline (click)="addHistory(formGroup.value)" [disabled]="selected < 2 || formGroup.invalid">
      Gerar Histórico</button>
</ion-content>
