<ion-header no-border>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>Meus Diagnósticos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="goToAddDiagnostic()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p ion-text text-center *ngIf="diagnostics.length == 0">Ops!
    <br> Parece que você ainda não possui um Diagnóstico.
    <br> Crie um Diagnóstico clicando no botão de '+' ali em cima para ver sua situação financeira!</p>
  <ion-list>
    <ion-card ion-item class="diagnostic-card" *ngFor="let diagnostic of diagnostics; let i = index" (click)="goToDiagnostic(diagnostic)">
      <h1 text-center ion-text color="primary">{{diagnostic.name}}</h1>
      <br>
      <h2 ion-text color="primary">Data do Diagnóstico: {{diagnostic.date}}</h2>
    </ion-card>
  </ion-list>
</ion-content>
