page-wallet-extract {
    .wallet-transactions-header {
        margin-top: 16px;
    }
    .label {
        margin: 0 0 0 0;
    }
    .transaction-item {
        padding-right: 0!important;
        padding-left: 0!important;
    } 
}
