<ion-header no-border>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>{{diagnostic.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="goToEditDiagnostic()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="btn-container">
    <button class="btn-add" ion-button block outline (click)="goToAddItem(true)">
      Adicionar Receita</button>
    <button class="btn-add" ion-button block outline (click)="goToAddItem(false)">
      Adicionar Despesa</button>
    <button class="btn-add" ion-button block outline (click)="goToAddWallet()">
      Adicionar Carteira</button>
    <button class="btn-add" ion-button block outline (click)="concludeDiagnostic()">
      Gerar Resultado do Diagnóstico</button>
  </div>
  <div class="diagnostic-items-header">
    <h3 style="margin: 0; padding: 0" text-center>Receitas e Despesas do Diagnóstico</h3>
    <ion-grid style="margin: 0; padding: 0" *ngIf="itemsIds.length > 0">
      <ion-row>
        <ion-col col-6>
          <p ion-text text-center>Nome</p>
        </ion-col>
        <ion-col col-6>
          <p ion-text text-center>Valor</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4 text-center *ngIf="itemsIds.length <= 0">Você não possui nenhuma receita ou despesa neste Diagnóstico!</h4>
  </div>
  <div class="diagnostic-items">
    <ion-list no-lines>
      <button ion-item class="item-item" *ngFor="let item of items; let i = index" (click)="goToItemProfile(item.id)">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <p ion-text text-center color="primary" *ngIf="item.name.length > 17">{{item.name.substr(0, 16)}}...</p>
              <p ion-text text-center color="primary" *ngIf="item.name.length <= 17">{{item.name}}</p>
            </ion-col>
            <ion-col col-6>
              <p ion-text text-center color="primary" *ngIf="item.value >= 0">R${{item.value.toFixed(2).toString().replace(".",
                ",")}}
              </p>
              <p ion-text text-center color="primary" *ngIf="item.value < 0" color="danger">-R${{item.value.toFixed(2).toString().replace(".",
                ",").replace("-", "")}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ion-list>
  </div>
</ion-content>