<ion-header no-border>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>Gerenciar Senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="havePassword == false">
    <h2>Adicione uma senha para ter ainda mais proteção para suas contas.</h2>
    <p>Atualmente não há uma maneira de recuperar sua senha em caso de esquecimento.</p>
    <form [formGroup]="formGroup" id="formGroup">
      <!--<ion-item>
        <ion-label floating>Email de recuperação</ion-label>
        <ion-input type="email" formControlName="email" name="email"></ion-input>
      </ion-item>-->
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Repetir Senha</ion-label>
        <ion-input type="password" formControlName="passwordRepeat" name="passwordRepeat"></ion-input>
      </ion-item>
      <br>
      <button class="btn-add" ion-button block outline [disabled]="formGroup.invalid" (click)="setPassword(formGroup.value)">
        Salvar Senha</button>
    </form>
  </div>

  <div *ngIf="havePassword == true">
    <!--<ion-list>
      <ion-item>
        <p>E-mail de recuperação: <span>{{email}}</span></p>
      </ion-item>
    </ion-list>-->
    <button class="btn-add" ion-button block outline (click)="goToEditPassword()">
      Alterar Senha</button>
    <!--<button class="btn-add" ion-button block outline (click)="sendPasswordToEmail()">
      Enviar Senha para Email</button>-->
    <button class="btn-add" ion-button block outline color="danger" (click)="deletePassword()">
      Apagar  Senha</button>
  </div>
</ion-content>