<ion-header no-border>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>Gerenciar Senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="havePassword == false">
    <h2>Adicione uma senha para ter ainda mais proteção para suas contas.</h2>
    <p>Digite um número de celular para que você possa recuperar sua senha usando sms.</p>
    <form [formGroup]="formGroup" id="formGroup">
      <ion-item>
        <ion-label floating>Telefone de recuperação</ion-label>
        <ion-input type="text" formControlName="phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Repetir Senha</ion-label>
        <ion-input type="password" formControlName="passwordRepeat" name="passwordRepeat"></ion-input>
      </ion-item>
      <br>
      <button class="btn-add" ion-button block outline [disabled]="formGroup.invalid" (click)="setPhoneAndPassword(formGroup.value)">
        Salvar Senha</button>
    </form>
  </div>

  <div *ngIf="havePassword == true">
    <ion-list>
      <ion-item>
        <p>Telefone de recuperação: <span>{{phone}}</span></p>
      </ion-item>
    </ion-list>
    <button class="btn-add" ion-button block outline (click)="goToEditPassword()">
      Alterar Senha e Telefone</button>
    <button class="btn-add" ion-button block outline (click)="sendPasswordToPhone()">
      Enviar Senha para Telefone</button>
    <button class="btn-add" ion-button block outline color="danger" (click)="deletePhonePassword()">
      Apagar Senha</button>
  </div>
</ion-content>