<ion-header no-border>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>Adicionar Diagnóstico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Segundo Passo: Adicione Receitas e Despesas ao seu Diagnóstico.</h2>
  <div class="diagnostic-transactions-header">
    <h2 text-center>Receitas e Despesas do Diagnóstico</h2>
    <ion-grid *ngIf="transactionsIds.length > 0">
      <ion-row>
        <ion-col col-8>
          <p ion-text text-center>Nome</p>
        </ion-col>
        <ion-col col-4>
          <p ion-text text-center>Valor</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4 text-center *ngIf="transactionsIds.length <= 0">Você não possui nenhuma receita ou despesa nesta Carteira!</h4>
  </div>
  <div class="diagnostic-transactions">
    <ion-list no-lines>
      <button ion-item class="transaction-item" *ngFor="let transaction of transactions.slice(-5).reverse(); let i = index" (click)="goToTransactionProfile(transaction.id)">
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              <p ion-text text-center color="primary" *ngIf="transaction.name.length > 17">{{transaction.name.substr(0, 16)}}...</p>
              <p ion-text text-center color="primary" *ngIf="transaction.name.length <= 17">{{transaction.name}}</p>
            </ion-col>
            <ion-col col-4>
              <p ion-text text-center color="primary" *ngIf="transaction.value >= 0">R${{transaction.value.toFixed(2).toString().replace(".", ",")}}</p>
              <p ion-text text-center color="primary" *ngIf="transaction.value < 0" color="danger">-R${{transaction.value.toFixed(2).toString().replace(".", ",").replace("-", "")}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <button ion-button block clear (click)="goToWalletExtract()" *ngIf="transactions.length > 0">
        Ver Lista Completa
      </button>
    </ion-list>
  </div>
  <div class="btn-container">
    <button class="btn-add" ion-button block outline (click)="goToAddItem(true)">
      Adicionar Receita</button>
    <button class="btn-add" ion-button block outline (click)="goToAddItem(false)">
      Adicionar Despesa</button>
  </div>
</ion-content>