page-add-diagnostic-options {
    .btn-container {
        padding-top: 10px;
    }
    .btn-add {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .diagnostic-transactions-header {
        margin-top: 16px;
    }
    .label {
        margin: 0 0 0 0;
    }
    .transaction-item {
        padding-right: 0!important;
        padding-left: 0!important;
    } 
}
