page-my-histories {
    .history-card {
        border-width: 1px;
        border-color: color($colors, primary, base);
        border-style: solid;
        border-radius: 15px;
        margin-bottom: 16px;
    }
}
