<ion-header no-border>
  <ion-navbar color="light">
    <ion-title>Editar {{whatIs}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" id="formGroup">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" formControlName="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Valor</ion-label>
      <ion-input type="number" formControlName="value" name="value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime formControlName="date" name="date" displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Categoria</ion-label>
      <ion-input type="text" formControlName="category" name="category"></ion-input>
    </ion-item>
    <ion-item *ngIf="isIncome == false">
      <ion-label floating>Tipo</ion-label>
      <ion-select formControlName="type" name="type" interface="popover">
        <ion-option value="0">Fixo Obrigatório</ion-option>
        <ion-option value="1">Fixo Opcional</ion-option>
        <ion-option value="3">Variável Obrigatório</ion-option>
        <ion-option value="4">Variável Opcional</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <div *ngIf="isIncome == true">
      <button class="btn-add" ion-button block outline (click)="setTransaction(formGroup.value)">Salvar Receita</button>
      <button color="danger" class="btn-add" ion-button block outline (click)="deleteTransaction()">Excluir Receita</button>
    </div>
    <div *ngIf="isIncome == false">
      <button class="btn-add" ion-button block outline (click)="setTransaction(formGroup.value)">Salvar Despesa</button>
      <button color="danger" class="btn-add" ion-button block outline (click)="deleteTransaction()">Excluir Despesa</button>
    </div>
  </form>
</ion-content>