<ion-header no-border>
  <ion-navbar color="light">
    <ion-title *ngIf="isIncome == true">Adicionar Receita</ion-title>
    <ion-title *ngIf="isIncome == false">Adicionar Despesa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" id="formGroup">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" formControlName="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Valor</ion-label>
      <ion-input type="number" formControlName="value" name="value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Categoria</ion-label>
      <ion-input type="text" formControlName="category" name="category"></ion-input>
    </ion-item>
    <ion-item *ngIf="isIncome == false">
      <ion-label floating>Tipo</ion-label>
      <ion-select formControlName="type" name="type" interface="popover">
        <ion-option value="1">Fixo Obrigatório</ion-option>
        <ion-option value="2">Fixo Opcional</ion-option>
        <ion-option value="3">Variável Obrigatório</ion-option>
        <ion-option value="4">Variável Opcional</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <div *ngIf="isIncome == true">
      <button class="btn-add" ion-button block outline (click)="addItem(formGroup.value, false)" [disabled]="formGroup.invalid">Salvar Receita e voltar</button>
      <button class="btn-add" ion-button block outline (click)="addItem(formGroup.value, true)" [disabled]="formGroup.invalid">Salvar Receita e adicionar outra</button>
    </div>
    <div *ngIf="isIncome == false">
      <button class="btn-add" ion-button block outline (click)="addItem(formGroup.value, false)" [disabled]="formGroup.invalid">Salvar Despesa e voltar</button>
      <button class="btn-add" ion-button block outline (click)="addItem(formGroup.value, true)" [disabled]="formGroup.invalid">Salvar Despesa e adicionar outra</button>
    </div>
  </form>
</ion-content>
