page-wallet-profile {
    .wallet-header {
        border-bottom: 1px solid rgb(230, 230, 230);
    }
    .wallet-transactions-header {
        margin-top: 16px;
    }
    .label {
        margin: 0 0 0 0;
    }
    .transaction-item {
        padding-right: 0!important;
        padding-left: 0!important;
    } 
    .btn-add{
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
}
