<ion-header no-border>
  <ion-navbar color="light">
    <ion-title>{{wallet.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <header class="wallet-header">
    <h1 text-center>Saldo:
      <span ion-text *ngIf="wallet.balance >= 0">R${{wallet.balance}}</span>
      <span ion-text *ngIf="wallet.balance < 0" color="danger">-R${{wallet.balance}}</span>
    </h1>
  </header>
  <div class="wallet-transactions-header">
    <h2 text-center>Extrato da Carteira</h2>
    <ion-grid *ngIf="transactions.length > 0">
      <ion-row>
        <ion-col col-3>
          <p ion-text text-center>Data</p>
        </ion-col>
        <ion-col col-6>
          <p ion-text text-center>Nome</p>
        </ion-col>
        <ion-col col-3>
          <p ion-text text-center>Valor</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4 text-center *ngIf="transactions.length == 0">Você não possui nenhuma receita ou despesa nesta Carteira!</h4>
  </div>
  <div class="wallet-transactions">
    <ion-list no-lines>
      <button ion-item class="transaction-item" *ngFor="let transaction of transactions.slice(-5).reverse(); let i = index"
              (click)="goToTransactionProfile(transaction.id)">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <p ion-text text-center color="primary">{{transaction.date.slice(0, 5)}}</p>
            </ion-col>
            <ion-col col-6>
              <p ion-text text-center color="primary" *ngIf="transaction.name.length > 17">{{transaction.name.substr(0, 16)}}...</p>
              <p ion-text text-center color="primary" *ngIf="transaction.name.length <= 17">{{transaction.name}}</p>
            </ion-col>
            <ion-col col-3>
              <p ion-text text-center color="primary" *ngIf="transaction.value >= 0">R${{transaction.value}}</p>
              <p ion-text text-center color="primary" *ngIf="transaction.value < 0" color="danger">-R${{transaction.value}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <button ion-button block clear (click)="goToWalletExtract()" *ngIf="transactions.length > 0">
        Ver Extrato Completo</button>
      <ion-item-divider></ion-item-divider>
    </ion-list>
    <button class="btn-add" ion-button block outline (click)="goToAddTransaction(true)">
      Adicionar Receita</button>
    <button class="btn-add" ion-button block outline (click)="goToAddTransaction(false)">
      Adicionar Despesa</button>
    
  </div>
</ion-content>